# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# IDE / Editor config
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local configuration
.env
